body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 4px solid black;
    margin: 1.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.bt:hover {
    cursor: pointer;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.flash {
    background-color: white;
}